@use './mixins.scss' as mixins;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
  width: 100%;
  background-color: #F9EDD3;
  background-image: url(./assets/ornament.png);
  background-size: 100%;
  color: #0F154E;
  @include mixins.flex-column;
}

#app {
  width: 100%;
  font-family: "Bitter", sans-serif;
}

main{
	@include mixins.flex-column;
}

.info-card{
	background-color: #FDF6E8;
	border-radius: 5px;
	box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.25);
	width: 100%;
	margin: 10px;

	h3{
		background: linear-gradient(0deg, rgba(14,26,143,1) 0%, rgba(8,12,49,1) 100%);
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		color: white;
	}
}

h1{
	font-size: 3em;
	font-weight: 700;
	text-align: center;
	padding: 10px;
}

h2{
	font-size: 2.8em;
	font-weight: 600;
	text-align: center;
	padding: 10px;
}

h3{
	font-size: 2.5em;
	font-weight: 500;
	text-align: center;
	padding: 10px;
}